*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

body,
button {
  font-family: var(--body-font);
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.heading-primary {
  font-size: var(--heading-1);
  font-family: var(--second-font);
}

.heading-secondary {
  font-size: var(--heading-2);
  line-height: var(--heading-2-line-height);
}

.sub-heading {
  font-size: var(--sub-heading);
}

.description {
  font-size: var(--description);
  font-weight: var(--description-line-height);
}

.container {
  max-width: 1120px;
  margin-inline: 3rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
}

.button {
  padding: 1.6rem 3rem;
  background-color: var(--color-button);
  color: var(--gray-200);
  border-radius: 8px;
  font-weight: var(--font-semi-bold);
  font-size: 1.6rem;
}
