@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HEX(Hexadecimal)*/
  --body-font: "iran yekan";
  --second-font: "cairo";
  --gray-950: #030712;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --color-primary: #0a1128;
  --color-primary-alt: #23293e;
  --color-primary-alter: #3b4153;
  --color-button: #004fff;
  --color-button-hover: #4d84ff;
  /*========== Font and typography ==========*/
  /*.5rem = 5px | 1rem = 10px ...*/
  --heading-1: 6.4rem;
  --heading-1-sub: 3.4rem;
  --sub-heading: 1.6rem;
  --heading-2: 3rem;
  --description: 1.4rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  /*========== Line ==========*/
  --heading-2-line-height: 6rem;
  --description-line-height: 2.8rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --heading-1: 6.4rem;
    --heading-1-sub: 3.6rem;
    --sub-heading: 2rem;
    --heading-2: 4.8rem;
    --description: 1.6rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

body,
button {
  font-family: var(--body-font);
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.heading-primary {
  font-size: var(--heading-1);
  font-family: var(--second-font);
}

.sub-heading {
  font-size: var(--sub-heading);
}

.description {
  font-size: var(--description);
  font-weight: var(--description-line-height);
}

.container {
  max-width: 1120px;
  margin-inline: 3rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
}

.button {
  padding: 1.6rem 3rem;
  background-color: var(--color-button);
  color: var(--gray-200);
  border-radius: 8px;
  font-weight: var(--font-semi-bold);
  font-size: 1.6rem;
}

.english-title {
  color: #6b7280;
  font-size: 1.8rem;
  font-weight: 300;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-800);
}

@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 100;
  src: url("base/fonts/iran_yekan/Woff/IRANYekanXFaNum-Thin.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 200;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-UltraLight.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-UltraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 300;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-Light.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 500;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-Medium.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 600;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-DemiBold.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 800;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-ExtraBold.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 900;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-Black.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 950;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-ExtraBlack.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-ExtraBlack.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: 1000;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-Heavy.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: bold;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-Bold.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Iran Yekan";
  font-style: normal;
  font-weight: normal;
  src: url("base/fonts/iran_yekan/woff/IRANYekanXFaNum-Regular.woff") format("woff"), url("base/fonts/iran_yekan/woff2/IRANYekanXFaNum-Regular.woff2") format("woff2");
}
/* Responsive typography */
.header {
  background-color: transparent;
  margin-top: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 1rem;
  position: relative;
  background-color: var(--gray-50);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    box-shadow: -2px 0 10px gray;
    background-color: white;
    width: 73%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: right 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  justify-content: center;
  align-items: start;
  padding-right: 3.5rem;
  position: absolute;
  top: 15%;
}

.nav__cta-svg {
  width: 3rem;
}

.nav__logo-img {
  width: 85%;
  justify-self: center;
  margin: auto;
}

.nav__link {
  font-size: 2.4rem;
  font-weight: var(--font-medium);
  color: var(--gray-800);
}

.nav__link:hover {
  border-bottom: 3px solid var(--color-button);
  color: var(--gray-600);
}

.nav__toggle,
.nav__close {
  display: flex;
  cursor: pointer;
}

.nav__close {
  font-size: 3rem;
  color: var(--gray-800);
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.show-menu {
  right: 0;
}

/*========== HERO ==========*/
.section-hero {
  background-color: var(--color-primary);
  margin-top: 10rem;
}

.hero {
  padding-bottom: 3rem;
}

.hero__image-container {
  transform: translateY(-2rem);
  position: relative;
  z-index: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-top: 3rem;
}

.hero__content h1 {
  font-family: var(--second-font);
  color: var(--gray-200);
  line-height: 0.8;
  text-align: center;
}

.hero__content span {
  font-size: var(--heading-1-sub);
}

.hero__content .sub-heading {
  color: var(--gray-400);
  padding: 0 5rem;
  line-height: 3rem;
}

.hero__content a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s;
  font-size: 1.4rem;
  max-width: 60rem;
  margin-inline: auto;
}

.hero__content a:hover {
  background-color: var(--color-button-hover);
}

.hero__cta-container {
  text-align: center;
  height: fit-content;
  margin-top: 3rem;
}

/*========== SELECT ==========*/
.section-select {
  padding: 0 8rem;
}

.select {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4rem;
  row-gap: 1rem;
}

.select__select-box {
  font-family: var(--body-font);
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 1.2rem;
  color: var(--gray-400);
  border: 2px solid gray;
}

.select__select-box:focus {
  outline-color: var(--color-button);
}

.select__title,
.select__subtitle {
  color: var(--gray-800);
  font-weight: var(--font-medium);
}

.select__title {
  font-size: 1.4rem;
}

.select__subtitle {
  font-size: 1.2rem;
}

.select_search-button {
  border: 1px solid var(--gray-400);
  padding: 1.6rem 3rem;
  border-radius: 8px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 3rem auto;
  font-size: 1.6rem;
  font-weight: var(--font-medium);
  color: var(--gray-400);
}

/*========== COMPANY LOGOES ==========*/
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.section-companies {
  margin-top: 4rem;
}

.section-companies h3 {
  text-align: center;
  color: var(--gray-400);
  font-size: 1.8rem;
  font-weight: var(--font-regular);
}

.companies {
  padding-block: 2rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.companies__logo-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  white-space: nowrap;
  animation: 10s slide infinite linear;
}

.companies:hover .companies__logo-slide {
  animation-play-state: paused;
}

/*========== FEATURES and BENEFITS ==========*/
.section-features {
  margin: 4rem auto;
  background: linear-gradient(82deg, #0a1128 15.92%, #053196 75.2%, #004fff 99.64%);
  padding: 2rem;
}

.features__headings {
  text-align: center;
}

.features .section-title {
  color: var(--gray-200);
}

.features__cards {
  /* color: white; */
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-top: 3rem;
}

.features__card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  padding: 1.5rem 2rem;
  background-color: white;
  gap: 3rem;
}

.features__card-icon--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  text-align: center;
}

.features__card-img {
  max-width: 50%;
}

.icon-description {
  font-size: 1.6rem;
  font-weight: 700;
}

.description {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--gray-500);
  font-weight: 500;
}

@media screen and (min-width: 46.5em) {
  .features__cards {
    /* color: white; */
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
  }
  .features__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    padding: 1.5rem 2rem;
    background-color: white;
    gap: 2rem;
  }
}
/*========== TESTIMONIALS ==========*/
.section-testimonials {
  margin-top: 4rem;
}

.testimonials__headings {
  text-align: center;
  margin-bottom: 2rem;
}

.testimonials__cards {
  margin-top: 4rem;
}

.testimonials__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 0.8rem;
  padding: 2rem;
}

.testimonials__card .description {
  color: var(--gray-400);
  padding-bottom: 2rem;
}

.testimonials__card-icon {
  margin: auto;
}

.testimonials__profile-info {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.testimonials__profile-img {
  max-width: 50%;
  border: 2px solid white;
  border-radius: 100%;
}

.testimonials__profile-info--data {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: center;
}

.testimonials__profile-name {
  color: var(--gray-200);
  font-weight: var(--font-medium);
  font-size: 2rem;
}

.testimonials__profile-job {
  font-size: 1.6rem;
  color: var(--gray-400);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-pagination-bullet {
  background-color: gray;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-button);
}

/*========== PRIMARY CTA ==========*/
.section-primaryCTA {
  margin-top: 8rem;
  background: url(/assets/images/primary_cta.webp);
  object-fit: cover;
  background-position: center;
}

.primaryCTA {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.primaryCTA .section-title {
  color: var(--gray-300);
  text-align: center;
}

.primaryCTA .description {
  font-weight: 500;
  color: var(--gray-400);
}

.primaryCTA .hero__cta-container {
  padding: 0;
}

.primaryCTA .hero__cta-container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*========== ABOUT US==========*/
.section-aboutUs {
  margin-top: 4rem;
}

.aboutUs {
  padding: 0 2rem;
}

.aboutUs a {
  max-width: 60rem;
  margin-inline: auto;
}

.aboutUs__headings {
  text-align: center;
  padding-block: 2rem;
}

.aboutUs__data {
  display: grid;
  grid-auto-flow: row;
  row-gap: 3rem;
}

.aboutUs__data-video {
  border-radius: 0.8rem;
}

.aboutUs__data-content .description {
  line-height: 2;
  color: var(--gray-500);
  font-weight: var(--font-regular);
}

.aboutUs__data-content strong {
  color: red;
  font-weight: 700;
}

.aboutUs__data .hero__cta-container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 0.8rem;
  transition: all 0.3s;
}

.aboutUs__data .hero__cta-container {
  padding: 0;
}

.aboutUs__data .hero__cta-container .button:hover {
  background-color: var(--color-button-hover);
  color: var(--gray-200);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}

.swiper {
  width: 100%;
  height: 300px;
  border-radius: 0.8rem;
}

.aboutUs__carousel {
  padding-block: 4rem;
}

.swiper-slide {
  border-radius: 0.8rem;
}

.aboutUs__carousel-image img {
  width: 100%;
  margin-inline: auto;
  object-fit: cover;
  border-radius: 0.8rem;
}

.aboutUs__carousel .swiper-button-prev,
.aboutUs__carousel .swiper-button-next {
  background-color: var(--gray-200);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.aboutUs__carousel .swiper-button-prev {
  right: 0;
}

.aboutUs__carousel .swiper-button-next {
  left: 0;
}

.aboutUs__carousel .swiper-button-next {
  background-color: var(--gray-200);
}

.aboutUs__carousel i {
  font-size: 3rem;
  color: var(--color-primary-alter);
}

/*========== WHY CHOOSE US ==========*/
.why-choose-us__content {
  margin: 2rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 4px #b2b2b2;
  padding-block: 2rem;
}

.why-choose-us__headings {
  text-align: center;
  margin-bottom: 4rem;
}

.why-choose-us__content p {
  padding: 0 2rem;
  line-height: 1.8;
}

/*========== SECOND CTA ==========*/
.section-second-cta {
  margin-top: 4rem;
}

.second-cta {
  padding-block: 4rem;
  position: relative;
}

.second-cta__image-container {
  width: 100%;
}

.second-cta h2 {
  color: var(--gray-200);
  text-align: center;
}

.second-cta p {
  color: var(--gray-300);
  margin-top: 2rem;
  margin: 2rem;
}

.second-cta__content {
  position: absolute;
  z-index: 2;
  margin: 2rem;
  padding: 2rem;
  bottom: 5%;
}

.second-cta__content-blur::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: -1;
  margin-inline: auto;
  left: 0;
  top: 0;
  border-radius: 1rem;
}

.second-cta__content a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  gap: 1rem;
}

.section-our-services {
  margin-top: 4rem;
}

.our-services__data {
  border-radius: 6rem;
  background-image: url(/assets/images/our_services_bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.our-services__headings {
  text-align: center;
}

.our-services__cards {
  margin-top: 2rem;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.our-services__card {
  color: white;
  backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 3.5rem;
  box-shadow: 0 0 15px 1px black;
  max-width: 15rem;
}

.our-services__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.our-services__card-content span {
  font-size: 1.6rem;
  color: var(--gray-600);
}

.our-services__card i {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    position: static;
    flex-direction: row;
    column-gap: 3rem;
    padding-right: 0;
  }
  .nav__list a {
    font-size: 2rem;
  }
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
    padding-bottom: 0;
    direction: ltr;
  }
  .hero__content {
    direction: rtl;
  }
  .hero__content p {
    margin-top: 2rem;
    padding-right: 8rem !important;
  }
  .hero__cta-container {
    max-width: 50%;
    margin-right: 8rem;
  }
  .select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
